black
coverage==5.2
darglint~=1.4.1
flake8
mypy==0.782
mypy-extensions
pipdeptree
pkginfo
pre-commit
pytest~=5.2.2
pytest-cov~=2.8.1
requests
safety~=1.9.0
sphinx
sphinx_rtd_theme
twine~=3.7.1
setuptools
wheel
